{% extends 'blurt/base.html' %}
{% block content %}
    {% if blurt_list %}
        <ul>
            {% for blurt in blurt_list %}
                <div id="card-wrapper">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <div id="user-wrapper">
                                <img src="{{ blurt.user.profile_picture }}" class="rounded-circle" style="width: 50px;" alt="Avatar" />
                                <h5 id="post-username" class="card-title">
                                    {{ blurt.user.username }}
                                </h5>
                            </div>
                            <p class="card-text">{{ blurt.content }}</p>
                            <p class="text-end">
                                <small>{{ blurt.pub_date }}</small>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No blurts are available.</p>
    {% endif %}

{% endblock %}